<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New wish from {{username}}</title>
</head>
<body>
  <h1>New wish</h1>
  <ul>
    <li>Username: {{username}}</li>
    <li>Address: {{address}}</li>
    <li>Wish content: {{content}}</li>
  </ul>
</body>
</html>
